<%- include ("../partials/header.ejs") %> 
<div class="row">
    <div class="col-md-12">
        <% if(collection.thumbnail_url  != null) {%>
        <div class="col-md-3">
            <div class="thumbnail">
                <img class="img-responsive" style= "width:300px" src="<%=collection.thumbnail_url %>">
            </div>
            <div id="map"></div>
        </div>
        <% }%>
        <div class="col-md-9">
            <div class="well well">
                <div class="caption-full">
                    <h2><%=collection.name%></h2>
                    <hr>
                </div>
            <div class="caption">
                <!--Details!-->
                    <p><span style="white-space: pre-line"><%=collection.description%></span></p>
                    <div class="table-responsive">          
                        <table class="table">
                            <tbody>
                              <tr>
                                <td><strong>Weight</strong></td>
                                    <td><%=collection.weight_kg%> kg</td>
                              </tr>
                              <tr>
                                  <td><strong>Origin</strong></td>
                                  <td><a href="<%= collection.origin_url %>"><%= collection.origin %></a></td>
                              </tr>
                              <tr>
                                  <td><strong>Seller</strong></td>
                                  <td><%=collection.seller%> </td>
                              </tr>
                              <tr>
                                  <td><strong>Cost:</strong></td>
                                  <td><%=collection.cost%> €</td>
                              </tr>
                              <tr>
                                  <td><strong>Porto:</strong></td>
                                  <td><%=collection.porto%> €</td>
                              </tr>
                               <tr>
                                  <td><strong>Purchased:</strong></td>
                                  <td><%=moment(collection.purchase_date).format('DD. MMMM YYYY')%></td>
                              </tr>
                              <tr>
                                  <td><strong>Created:</strong></td>
                                  <td><%=moment(collection.created).format('DD. MMMM YYYY')%></td>
                              </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>  
    
    <a href="/collections">Go back</a>
</div>
<%- include ("../partials/footer.ejs") %> 