<%- include ("../partials/header.ejs") %> 
<div class="container">
    <div class="row">
        <div class="col">
            <div class="caption-full">
                <h2>Run <%=run.run_id %></h2>
                <a href="/runs/<%=run.run_id%>/edit" class="btn btn-warning">Edit</a>
                <form id="delete-form" action="/runs/<%=run.run_id%>?_method=DELETE" method="POST" >
                    <button class="btn btn-danger">Delete</button>
                </form>
                <hr>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg">
            <div class="caption">
                <!--Details!-->
                <h3>Details</h3>
            </div>
            <div class="table-responsive">          
                <table data-toggle="table" data-classes="table table-no-bordered" class="table table-hover table-responsive">
                    <tbody>
                        <tr>
                            <td><strong>Collection id</strong></td>
                            <td><%=run.collection_id%></td>
                        </tr>
                            <td><strong>Image Folder</strong></td>
                            <td><%=run.imagefolder%></td>
                        </tr>
                        <tr>
                            <td><strong>Current Status</strong></td>
                            <td><%=run.status_name%></td>
                        </tr>
                        <tr>
                            <td><strong>Created</strong></td>
                            <td><%=moment(run.created).format('DD.MM.YYYY')%></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="caption">
                <!--Details!-->
                <h3>Control</h3>
            </div>
            <div class="table-responsive">          
                <table data-toggle="table" data-classes="table table-no-bordered" class="table table-hover table-responsive">
                    <tbody>
                        <tr>
                            <td><a href="/runs/<%=run.run_id%>/startRun" class="btn btn-danger">Start Run</a></td>
                            <td><a href="/runs/<%=run.run_id%>/stopRun" class="btn btn-warning">Stop Run</a></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col">
            <div class="caption">
                <h3>History</h3>
            </div>
            <div class="table-responsive">  
                <table data-toggle="table" data-classes="table table-no-bordered" class="table table-hover table-responsive">
                    <thead>
                        <tr>
                            <th data-sortable="true">Date</th>
                            <th data-sortable="true">Status Id</th>
                            <th data-sortable="true">Status</th>
                            <th data-sortable="true">Reason</th>
                        </tr>
                    </thead>
                    <tbody>
                    <% runstatus.forEach(function(rs){ %>
                        <tr>
                            <td><%=moment(rs.created).format('DD.MM.YYYY HH:mm:ss')%></td>
                            <td><%=rs.status%></td>
                            <td><%=rs.status_name%></td>
                            <td><%=rs.reason%></td>
                        </tr>
                    <% }); %>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="row"></div>
        <div class="col-lg">
            <div class="caption">
                <h3>Parts (<%=recognisedParts.length %>)</h3>
                <a href="/runs/<%=run.run_id%>/labelImages" class="btn btn-primary">Label Images</a>
            </div>
            <table data-toggle="table" data-classes="table table-no-bordered" class="table table-hover table-responsive">
                <thead>
                    <tr>
                        <th data-sortable="true">Image</th>
                        <th data-sortable="true">No</th>
                        <th data-sortable="true">Partimages</th>
                        <th data-sortable="true">ColorId</th>
                        <th data-sortable="true">Score</th>
                        <th data-sortable="true">Identifier</th>
                        <th data-sortable="true">Created</th>
                        <th>Edit</th>
                    </tr>
                </thead>
                <tbody>
                    <%recognisedParts.forEach(function(part){ %>
                        <tr>
                            <td><%if(part.no != null) { %> <img class="img-responsive" style= "height:60px" src="//img.bricklink.com/P/<%=part.color_id%>/<%=part.no%>.jpg"><% }%></td>
                            <td><%=part.no%></td>
                            <td><%  part.images.forEach(image => {  %>
                                <img class="img-responsive" style= "height:60px; display: inline-block;" src="<%=image.path.replace('/home/robert/LegoSorter/partimages','')%>">
                                <% }); %>
                            </td>
                            <td><%=part.color_id%></td>
                            <td><%=part.score%></td>
                            <td><%=part.identifier%></td>
                            <td><%=moment(part.created).format('DD.MM.YYYY HH:mm:ss')%></td>
                            <td><a href="/recognisedpart/<%= part.id %>/edit" class="btn btn-sm btn-warning">Edit</a> 
                                <form id="delete-form" action="/recognisedpart/<%= part.id %>?_method=DELETE" method="POST" >
                                    <button class="btn btn-sm btn-danger">Delete</button>
                                </form></td>
                        </tr>
                    <% }); %>
                </tbody>
            </table>
        </div>
        </div>
    </div>
</div>
   
<%- include ("../partials/footer.ejs") %> 