<%- include ("../partials/header.ejs") %> 
<div class="container">
    <header class="jumbotron">
        <div class="container">
            <h1>Collections Page</h1>
            <p><a class="btn btn-primary btn-lg" href="collections/new">Add new Collection</a>
            </p>
        </div>
    </header>
    
   
    <div class="row">
        <div class="col-lg-12">
            Current Collections
        </div>
    </div>
    <div class="row text-center" style="display:flex; flex-wrap: wrap;">
        <% collections.forEach(function(collection){ %>
            <div class="col-md-3 col-sm-6">
                <div class="img-thumbnail">
                     <img style="width: 240px" src="<%=collection.thumbnail_url %>">
                     <div class="caption">
                         <h4><%= collection.name %></h4>
                     </div>
                     <p>
                         <a href="/collections/<%= collection.id %>" class="btn btn-primary">Show</a>
                     </p>
                </div>
            </div>
        <% }); %>
    </div>
</div>
<%- include ("../partials/footer.ejs") %> 