<%- include ("../partials/header.ejs") %> 
<div class="row">
    <div class="col-md-12">
        <% if(collection.thumbnail_url  != null) {%>
        <div class="col-md-3">
            <div class="thumbnail">
                <img class="img-responsive" style= "width:300px" src="<%=collection.thumbnail_url %>">
            </div>
        </div>
        <% }%>
        <div class="col-md-9">
            <div class="well well">
                <div class="caption-full">
                    <h2><%=collection.name%></h2>
                    
                    <a href="/collections">Go back</a>
                    <a href="/collections/<%= collection.id %>/edit" class="btn btn-warning">Edit</a>
                    <form id="delete-form" action="/collections/<%=collection.id %>?_method=DELETE" method="POST" >
                        <button class="btn btn-danger">Delete</button>
                    </form>
                    <hr>
                </div>
            <div class="caption">
                <!--Details!-->
                <h3>Details</h3>
                    <p><span style="white-space: pre-line"><%=collection.description%></span></p>
                    <div class="table-responsive">          
                        <table class="table">
                            <tbody>
                              <tr>
                                <td><strong>Weight</strong></td>
                                    <td><%=collection.weight_kg%> kg</td>
                              </tr>
                              <tr>
                                  <td><strong>Origin</strong></td>
                                  <td> <% if(collection.origin_url  != '') {%><a href="<%= collection.origin_url %>"><% }%><%= collection.origin %></a></td>
                              </tr>
                              <tr>
                                  <td><strong>Seller</strong></td>
                                  <td><%=collection.seller%> </td>
                              </tr>
                              <tr>
                                  <td><strong>Cost</strong></td>
                                  <td><%=collection.cost + collection.porto%>€ (incl. Porto <%=collection.porto%>€)</td>
                              </tr>
                              <tr>
                                  <td><strong>Sets</strong></td>
                                  <td><%=setssum[0].allSets_count%></td>
                              </tr>
                              <tr>
                                  <td><strong>Sum Parts Weight</strong></td>
                                  <td><%=setssum[0].allSets_weight/1000%> kg</td>
                              </tr>
                                                            <tr>
                                  <td><strong>Sum Parts Count</strong></td>
                                  <td><%=setssum[0].allSets_part_count%></td>
                              </tr>
                                                            <tr>
                                  <td><strong>Sum Minifigs Count</strong></td>
                                  <td><%=setssum[0].allSets_minifigs_count%></td>
                              </tr>
                                                            <tr>
                                  <td><strong>All Sets Price</strong></td>
                                  <td>Min <%=setssum[0].AllSets_minPrice%>€</br>Avg <%=setssum[0].AllSets_avgPrice%>€</td>
                              </tr>
                               <tr>
                                  <td><strong>Purchased</strong></td>
                                  <td><%=moment(collection.purchase_date).format('DD.MM.YYYY')%></td>
                              </tr>
                              <tr>
                                  <td><strong>Created</strong></td>
                                  <td><%=moment(collection.created).format('DD.MM.YYYY')%></td>
                              </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="caption">
                <!--Details!-->
                 <h3>Sets</h3>
                 <p>
                  <form style="display: inline;" action="/collections/<%= collection.id %>/sets" method ="POST">
                        <input id="no"  type="text" name="no">
                        <button class="btn btn-primary" >Add new set</button>
                </form>
                <a class="btn btn-secondary" style="float:right;" href="/collections/<%=collection.id %>/sets/new">Add new detailed Set</a>
                  </p>
                    <div class="table table-striped table-hover table-responsive">          
                        <table data-toggle="table" data-classes="table table-no-bordered" class="table table-hover table-responsive">
                            <thead>
                                <tr>
                                    <th>Image</th>
                                    <th data-sortable="true">Number</th>
                                    <th data-sortable="true">Category</th>
                                    <th data-sortable="true">Name</th>
                                    <th data-sortable="true">Year</th>
                                    <th data-sortable="true">Weight (g)</th>
                                    <th data-sortable="true">Parts</th>
                                    <th data-sortable="true">Minifigs</th>
                                    <th data-sortable="true">min. Price (€)</th>
                                    <th data-sortable="true">avg. Price (€)</th>
                                    <th data-sortable="true">Status</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                  <% sets.forEach(function(set){ %>
                                  <tr>
                                    <td><img class="img-responsive" style= "height:60px" src="<%=set.thumbnail_url %>"></td>
                                    <td><a href="https://www.bricklink.com/v2/catalog/catalogitem.page?S=<%= set.no %>#T=S&O={%22ss%22:%22DE%22,%22cond%22:%22U%22,%22ii%22:0,%22is%22:0,%22iconly%22:0}"><%=set.no%></a></td>
                                    <td><%= set.category_name%></td>
                                    <td><a data-value="<%= set.id %>" href="/sets/<%=set.id %>"><%= set.name  %></a></td>
                                    <td><%=set.year%></td>
                                    <td><%=set.weight_g%></td>
                                    <td><%=set.complete_part_count%></td>
                                    <td><%=set.complete_minifigs_count%></td>
                                    <td><%=set.min_price.toFixed(2)%>€%></td>
                                    <td><%=set.avg_price.toFixed(2)%>€%></td>
                                    <td><%=set.status_name%></td>
                                    <td><a href="/sets/<%= set.id %>/edit" class="btn btn-sm btn-warning">Edit</a> 
                                    <form id="delete-form" action="/sets/<%= set.id %>?_method=DELETE" method="POST" >
                                        <button class="btn btn-sm btn-danger">Delete</button>
                                    </form></td>
                                  </tr>
                               <% }); %>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>  
    
    
</div>
<%- include ("../partials/footer.ejs") %> 