<%- include ("../partials/header.ejs") %> 
<div class="row">
    <div class="col-md-9">
        <% if(set.image_url  != null) {%>
        <div class="col-md-3">
            <div class="thumbnail">
                <img class="img-responsive" style= "width:300px" src="<%=set.image_url %>">
            </div>
        </div>
        <% }%>
        <div class="col-md-9">
            <div class="well well">
                <div class="caption-full">
                    <h2><%=set.no %> - <%=set.name%></h2>
                    <a href="/sets/<%= set.id %>/edit" class="btn btn-warning">Edit</a>
                    <form id="delete-form" action="/sets/<%=set.id %>?_method=DELETE" method="POST" >
                        <button class="btn btn-danger">Delete</button>
                    </form>
                    <hr>
                </div>
            <div class="caption">
                <!--Details!-->
                <h3>Details</h3>
                    <div class="table-responsive">          
                        <table class="table">
                            <tbody>
                              <tr>
                                <td><strong>Category</strong></td>
                                    <td><%=set.category_id%></td>
                              </tr>
                              <tr>
                                <td><strong>Year</strong></td>
                                    <td><%=set.year%></td>
                              </tr>
                              <tr>
                                <td><strong>Weight</strong></td>
                                    <td><%=set.weight_g%> g</td>
                              </tr>
                              <tr>
                                <td><strong>Size</strong></td>
                                    <td><%=set.size%></td>
                              </tr>
                              <tr>
                                <td><strong>Instructions</strong></td>
                                    <td><%=set.instructions%></td>
                              </tr>
                              <tr>
                                <td><strong>Parts</strong></td>
                                    <td>
                                        complete: <%=partcounts[0].parts_count%></br>
                                        extra: <%=partcounts[0].extra_quantity_count%></br>
                                        alternate_count: <%=partcounts[0].alternate_count%></br>
                                        counterpart: <%=partcounts[0].counterpart_count%></br>
                                    </td>
                              </tr>
                              <tr>
                                <td><strong>Minifigs</strong></td>
                                    <td><%=minifigscount[0].minifigs_count%></td>
                              </tr>
                              <td><strong>Set Price</strong></td>
                                    <td>
                                        Min  <%=set.min_price%> €</br>
                                        Avg  <%=set.avg_price%> €</br>
                                        QAvg <%=set.qty_avg_price%> €</br>
                                        Max  <%=set.max_price%> €
                                     </td>
                              </tr>
                              <tr>
                                <td><strong>Parts price (stock)</strong></td>
                                    <td><%=partcounts[0].part_stock_price_sum.toFixed(2)%>€%></td>
                              </tr>
                               <tr>
                                <td><strong>Parts price (sold)</strong></td>
                                    <td><%=partcounts[0].part_sold_price_sum.toFixed(2)%>€%></td>
                              </tr>
                              <% if(minifigscount[0].minifigs_count != null) {%> 
                              <tr>
                                <td><strong>Minifigs price (stock)</strong></td>
                                    <td><%=minifigscount[0].part_stock_price_sum.toFixed(2)%>€%></td>
                              </tr>
                               <tr>
                                <td><strong>Minifigs price (sold)</strong></td>
                                    <td><%=minifigscount[0].part_sold_price_sum.toFixed(2)%>€%></td>
                              </tr>
                              <% }%>
                              <tr>
                                <td><strong>Comments</strong></td>
                                    <td><%=set.comments%> </td>
                              </tr>
                              <tr>
                                <td><strong>Status</strong></td>
                                    <td><%=set.status%> </td>
                              </tr>
                              <tr>
                                  <td><strong>Created:</strong></td>
                                  <td><%=moment(set.created).format('DD. MMMM YYYY')%></td>
                              </tr>
                            </tbody>
                        </table>
                        
                        <h3>Minifigs</h3>
                        <table data-toggle="table" data-classes="table table-no-bordered" class="table table-hover table-responsive">
                            <thead>
                                <tr>
                                    <th data-sortable="true">Match No</th>
                                    <th>Image</th>
                                    <th data-sortable="true">Qty</th>
                                    <th data-sortable="true">Item No</th>
                                    <th data-sortable="true">Description</th>
                                    <th data-sortable="true">Price (stock)</th>
                                    <th data-sortable="true">Price (sold)</th>
                                    <th data-sortable="true">Status</th>
                                   <!--   <th data-sortable="true">extra_quantity</th>-->
                                   <!--   <th data-sortable="true">is_alternate</th>-->
                                  <!--    <th data-sortable="true">is_counterpart</th>-->
                                </tr>
                            </thead>
                            <tbody>
                        <% subsetData.forEach(function(subset){ %>
                        <% if(subset.type == "MINIFIG"){%>
                         <tr>
                                <td><%=subset.match_no%></td>
                                <td><img class="img-responsive" style= "height:60px" src="//img.bricklink.com/M/<%=subset.part_no%>.jpg"  onerror="this.onerror=null;this.src='//img.bricklink.com/M/<%=subset.part_no%>.gif';"></td>
                                <td><%=subset.quantity%></td>
                                <td><%=subset.part_no%></td>
                                <td><%=subset.color_name%> <%-subset.name%></td>
                                <td><%=subset.qty_avg_price_stock.toFixed(2)%>€</td>
                                <td><%=subset.qty_avg_price_sold.toFixed(2)%>€</td>
                                <td><%=subset.status_name%></td>
                        <!--         <td><%=subset.extra_quantity%></td>-->
                         <!--        <td><%=subset.is_alternate%></td>-->
                          <!--       <td><%=subset.is_counterpart%></td>-->
                                <% } %>
                        
                             <% }); %>
                            </tr>
                         </tbody>
                        </table>
                        <h3>Parts</h3>
                        <table data-toggle="table" data-classes="table table-no-bordered" class="table table-hover table-responsive">
                            <thead>
                                <tr>
                                    <th data-sortable="true">Match No</th>
                                    <th>Image</th>
                                    <th data-sortable="true">Qty</th>
                                    <th data-sortable="true">Item No</th>
                                    <th data-sortable="true">Description</th>
                                    <th data-sortable="true">Price (stock)</th>
                                    <th data-sortable="true">Price (sold)</th>
                                    <th data-sortable="true">Status</th>
                                   <!--   <th data-sortable="true">extra_quantity</th>-->
                                   <!--   <th data-sortable="true">is_alternate</th>-->
                                  <!--    <th data-sortable="true">is_counterpart</th>-->
                                </tr>
                            </thead>
                            <tbody>
                        <% subsetData.forEach(function(subset){ %>
                         <tr>
                              <% if(subset.type == "PART"){%>
                                <td><%=subset.match_no%></td>
                                <td><img class="img-responsive" style= "height:60px" src="//img.bricklink.com/P/<%=subset.color_id%>/<%=subset.part_no%>.jpg" onerror="this.onerror=null;this.src='//img.bricklink.com/P/<%=subset.color_id%>/<%=subset.part_no%>.gif';"></td>
                                <td><%=subset.quantity%></td>
                                <td><%=subset.part_no%></td>
                                <td><%=subset.color_name%> <%-subset.name%></td>
                                <td><%=subset.qty_avg_price_stock.toFixed(2)%>€</td>
                                <td><%=subset.qty_avg_price_sold.toFixed(2)%>€</td>
                                <td><%=subset.status_name%></td>
                        <!--         <td><%=subset.extra_quantity%></td>-->
                         <!--        <td><%=subset.is_alternate%></td>-->
                          <!--       <td><%=subset.is_counterpart%></td>-->
                                <% } %>
                        
                             <% }); %>
                            </tr>
                         </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>  
    
    <a href="/collections">Go back</a>
</div>
<%- include ("../partials/footer.ejs") %> 